
<a href="https://colab.research.google.com/github/aleylani/Databehandling/blob/main/lectures/L4_merge.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> &nbsp; for interacting with the code

---
# Lecture notes - Merge, join, concatenate, append, read_html
---

This is the lecture note for **data wrangling** - but it's built upon contents from pandas and previous course: 
- Python programming

<p class = "alert alert-info" role="alert"><b>Note</b> that this lecture note gives a brief introduction to merging. I encourage you to read further about merging.

Read more 
- [Merge, join, concatenate ...](https://pandas.pydata.org/docs/user_guide/merging.html)

- [read_html()](https://pandas.pydata.org/docs/reference/api/pandas.read_html.html?highlight=read_html#pandas.read_html)

- [append()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.append.html)

---

## Setup
- creating 3 DataFrames

In [ ]:
np.arange(16)

In [ ]:
import pandas as pd 
import numpy as np 

df1 = pd.DataFrame(np.arange(16).reshape(4,4), columns=list("ABCD"))
df2 = pd.DataFrame(np.zeros((3,4)), columns=list("ABCD"))
df3 = pd.DataFrame(np.ones((4,3)), index=[1,5,10,15])
df1

In [ ]:
df2

In [ ]:
df3

---
## Concat

- concatenates pandas objects along particular axis
- there are optional set logic along other axes
- concat() copies the data, if using concat() on many datasets, use list comprehensions

Set logic: 

<img src="../assets/outer-inner-join.png" width=500/>

left side: $A\cup B$ (union)

right side: $A\cap B$ (intersection)

In [ ]:
# same column names, just add the second df rows to the first
pd.concat([df1,df2]) # by default axis = 0 or "rows"

In [ ]:
# concats on the index 
# NOTE: NaNs due to df2 shape is (3,4) while df1 shape is (4,4)
pd.concat([df1,df2], axis = "columns")

In [ ]:
# NOTE: index 1 is shared while others are not 
pd.concat([df1,df3], axis = 1)  # join="outer by default"

In [ ]:
# inner join - set logic intersection "A and B"
pd.concat([df1,df3], axis = 1, join="inner")

---
## Append

NOTE: append will become deprecated - use concat instead

Specific case of concat
- concatenates along axis 0 
- join = outer
- can't choose other axis or joins
- doesn't modify original df unlike in append for lists

In [ ]:
df1.append(df2, ignore_index=True) # simple

---
## Merge

- high performance join operations similar to relational databases
- performance is faster using merge/join in Pandas than in SQL

Relational algebra
- one-to-one - joining 2 dfs on their index
- many-to-one - joining a unique index to â‰¥ 1 cols in different df
- many-to-many - joining columns on columns

In [ ]:
# merge
left = pd.DataFrame({"key": ["K0", "K0", "K1", "K2"],
                     "A": ["A0", "A1", "A2", "A3"],
                     "B": ["B0", "B1", "B2", "B3"],
                     })
right = pd.DataFrame({"keys": ["K0", "K1", "K2", "K3"],
                     "C": ["C0", "C1", "C2", "C3"],
                      "D": ["D0", "D1", "D2", "D3"]},
                      index=[1,2,3,4])
print(left)
print(right)

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right)

In [ ]:
# note on column must be found in both left and right
pd.merge(left, right, on="key", indicator=True) # how= "inner" default

In [ ]:
right

In [ ]:
# note that for key K3 there is only the right one and there is NaN in col A,B because 
# outer join is a union between left and right 
left.merge(right, on=["key1"], how="outer", indicator=True)

In [ ]:
left.merge(right, on="key", how="left", indicator=True)

In [ ]:
left = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "A": ["A0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

print(left)

print(right)

# A_x is from left, A_y is from right, since A exist in both dataframes
# only keys present in left
left.merge(right, on=["key1", "key2"], how="left", indicator=True)

In [ ]:
# keys in right
left.merge(right, on=["key1", "key2"], how="right", indicator=True, suffixes=["_left","_right"])

---

## Join
- combine cols of two potentially different index dfs
- uses merge internally

In [ ]:
left = pd.DataFrame(
    {"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"]
)


right = pd.DataFrame(
    {"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"]
)
left, right

In [ ]:
left.join(right) # joins on left

In [ ]:
right.join(left) # joins on right

In [ ]:
left.join(right, how = "inner")

---
## Webscrape HTML tables 

- [solve SSLCertVerificationError on mac](https://stackoverflow.com/questions/68275857/urllib-error-urlerror-urlopen-error-ssl-certificate-verify-failed-certifica)

In [ ]:
import pandas as pd

In [ ]:
tables_list = pd.read_html(
    "https://en.wikipedia.org/wiki/List_of_potentially_habitable_exoplanets")

tables_list.__len__()

In [ ]:
tables_list[4].head()

In [ ]:
df = tables_list[0] # first table in the html page 
df.head()

In [ ]:
fifa_tables = pd.read_html("https://en.wikipedia.org/wiki/FIFA_World_Cup", match="Highest attendances")

fifa_tables[0].head()

In [ ]:
len(fifa_tables)