In [ ]:
import pandas as pd

In [ ]:
data = {
    'Name': ['John', 'Alice', 'Bob', 'John', 'Eve', 'Alice', 'Chris', 'David', 'Eve', 'Bob'],
    'Age': [28, 25, 22, 28, 30, 25, 35, 32, 30, 22],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'San Francisco', 'Los Angeles', 'Chicago', 'New York', 'San Francisco', 'Los Angeles'],
    'Department': ['HR', 'Engineering', 'Finance', 'HR', 'Engineering', 'Engineering', 'Finance', 'HR', 'Engineering', 'Finance'],
    'Salary': [60000, 75000, 55000, 60000, 85000, 75000, 58000, 61000, 85000, 55000]
}


df = pd.DataFrame(data)

In [ ]:
df

Hitta & ta bort duplicerade rader

In [ ]:
df.duplicated()

In [ ]:
my_duplicates_df = df[df.duplicated()]

my_duplicates_df

In [ ]:
my_unique_df = df[~df.duplicated()]

my_unique_df

metod 2: .drop_duplicates() metoden

In [ ]:
df.drop_duplicates()

In [ ]:
# argumentet inplace supportas av en del metoder, och kommer då att reassigna din df till resultatet av din operation direkt, utan att du själv behöver assigna den

# df.drop_duplicates(inplace=True)

**Att spara dataframes!**

In [ ]:
df

In [ ]:
df.to_csv('exempeldata.csv') # obs, viktigt att du anger .csv i namnet!

**show counts för stora dataset**

In [ ]:
df.info(show_counts=True) # show_counts tvingar Pandas att ge er non-null counts även för större dataset

**.apply()**

In [ ]:
df

In [ ]:
df['Age']+1 # vissa enklare transformationer på kolumner kan man göra direkt

In [ ]:
df['Salary']

Vår uppgift är följande:

Vi ska bestämma procentuell ökning av lön för varje anställd. Ju lägre lön du har, desto större procentuell ökning ska du få.

50000 < lön < 60000 --> 5%

60000 < lön < 70000 --> 4%

70000 < lön < 80000 --> 3%

80000 < lön < 90000 --> 2%

In [ ]:
def procentuell_ökning(lön):

    '''Den här funktionen tar in en lön, och spottar ur sig procentuell ökning'''

    if 50000 < lön <= 60000:
        ökning = '5%'
    elif 60000 < lön <= 70000:
        ökning = '4%'
    elif 70000 < lön <= 80000:
        ökning = '3%'
    elif 80000 < lön <= 90000:
        ökning = '2%'

    return ökning

In [ ]:
df['Salary']

In [ ]:
df['Salary'].apply(procentuell_ökning)

In [ ]:
df['Inbound salary increase'] = df['Salary'].apply(procentuell_ökning)

In [ ]:
df

In [ ]:
def procentuell_ökning_v2(lön):

    '''Den här funktionen tar in en lön, och spottar ur sig procentuell ökning'''

    if 50000 < lön <= 60000:
        ökning = 1.05
    elif 60000 < lön <= 70000:
        ökning = 1.04
    elif 70000 < lön <= 80000:
        ökning = 1.03
    elif 80000 < lön <= 90000:
        ökning = 1.02

    return ökning

In [ ]:
df['Inbound salary increase v2'] = df['Salary'].apply(procentuell_ökning_v2)

In [ ]:
df

In [ ]:
df['Salary after increase'] = df['Salary']*df['Inbound salary increase v2']

In [ ]:
df

In [ ]:
def full_caps_names(name):

    result = name.upper()

    return result

In [ ]:
df['Name'].apply(full_caps_names)

In [ ]:
df['City'].apply(full_caps_names)

**Small tip to make multi-index columns more tangible**

In [ ]:
df['Name'].value_counts()

In [ ]:
df['Name'].value_counts().reset_index()

In [ ]:
my_multi_index_series = df.groupby(['Department','Name'])['Salary'].sum()

In [ ]:
my_multi_index_series

För multiindex så indexerar man varje index för sig

In [ ]:
my_multi_index_series['Engineering']

In [ ]:
my_multi_index_series['Engineering']['Eve']

Men, ibland kan det vara mer nice att jobba med DataFrames snarare än multi-index Series

In [ ]:
my_multi_index_series.reset_index()