In [1]:
import numpy as np
import pandas as pd

## Series - class

In [2]:
import random

random_lista = [random.randint(1,10) for x in range(10)]
print(random_lista)

random_series = pd.Series(random_lista)

print(random_series)

[4, 5, 2, 7, 1, 6, 3, 3, 6, 5]
0    4
1    5
2    2
3    7
4    1
5    6
6    3
7    3
8    6
9    5
dtype: int64

In [3]:
isinstance(random_series, pd.Series)

True

In [4]:
print(f'Min series minsta värde   : {random_series.min()}')
print(f'Min series maximala värde : {random_series.max()}')
print(f'Min series medelvärde     : {random_series.mean()}')

Min series minsta värde   : 1
Min series maximala värde : 7
Min series medelvärde     : 4.2

## DataFrame - class

In [5]:
#obs värdena i vår dictionary behöver INTE vara listor, du kan gott kombinera blanda annat listor, arrays & tuples

students = ('Ali', 'Amir', 'Rozann', 'Sawash')
age = [33, 0.75, 27, 3]
eye_color = np.array(['brown', 'blue', 'green', 'brown'])

min_dictionary = {'students' : students, 'age': age, 'eye color': eye_color}

min_dictionary

{'students': ('Ali', 'Amir', 'Rozann', 'Sawash'),
 'age': [33, 0.75, 27, 3],
 'eye color': array(['brown', 'blue', 'green', 'brown'], dtype='<U5')}

In [6]:
personal_df = pd.DataFrame(min_dictionary)

personal_df

  students    age eye color
0      Ali  33.00     brown
1     Amir   0.75      blue
2   Rozann  27.00     green
3   Sawash   3.00     brown

In [7]:
personal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   students   4 non-null      object
 1   age        4 non-null      float64
 2   eye color  4 non-null      object
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes

In [20]:
#obs värdena i vår dictionary behöver INTE vara listor, du kan gott kombinera blanda annat listor, arrays & tuples

students = ('Ali', 'Amir', 'Rozann', 'Sawash')
age = [33, 0.75, 27, 3]
eye_color = np.array(['brown', 'blue', 'green', 'brown'])

min_dictionary = {'students' : students, 'age': age, 'eye_color': eye_color}

another_df = pd.DataFrame(min_dictionary, index=['pappa', 'son', 'mamma', 'hund'])

another_df

      students    age eye_color
pappa      Ali  33.00     brown
son       Amir   0.75      blue
mamma   Rozann  27.00     green
hund    Sawash   3.00     brown

In [9]:
personal_df

  students    age eye color
0      Ali  33.00     brown
1     Amir   0.75      blue
2   Rozann  27.00     green
3   Sawash   3.00     brown

In [ ]:
personal_df.info()

## Indexering

In [11]:
personal_df

  students    age eye color
0      Ali  33.00     brown
1     Amir   0.75      blue
2   Rozann  27.00     green
3   Sawash   3.00     brown

In [12]:
personal_df['students']

0       Ali
1      Amir
2    Rozann
3    Sawash
Name: students, dtype: object

För att indexera på fler kolumner behöver dessa anges i en lista

In [13]:
personal_df[['students', 'age']]

  students    age
0      Ali  33.00
1     Amir   0.75
2   Rozann  27.00
3   Sawash   3.00

Man kan också komma åt sina kolumner genom att behandla de som attribut

In [14]:
personal_df.students

0       Ali
1      Amir
2    Rozann
3    Sawash
Name: students, dtype: object

In [29]:
personal_df['students'][0]

'Ali'

In [31]:
another_df['students']['pappa']

'Ali'

## iloc & loc

**iloc**: mer likt python idexering, som ni är vana vid

**loc**: används för att indexera specifikt på de index som finns

In [40]:
personal_df

  students    age eye color
0      Ali  33.00     brown
1     Amir   0.75      blue
2   Rozann  27.00     green
3   Sawash   3.00     brown

In [47]:
personal_df.iloc[0]

students       Ali
age           33.0
eye color    brown
Name: 0, dtype: object

In [52]:
personal_df.iloc[0:2]

  students    age eye color
0      Ali  33.00     brown
1     Amir   0.75      blue

In [54]:
personal_df.iloc[0:2]

  students    age eye color
0      Ali  33.00     brown
1     Amir   0.75      blue

In [95]:
personal_df.iloc[:]

  students    age eye color
0      Ali  33.00     brown
1     Amir   0.75      blue
2   Rozann  27.00     green
3   Sawash   3.00     brown

In [107]:
# first index is row, second index is column

personal_df.iloc[2, 2]

'green'

In [108]:
personal_df.iloc[:2, 1:3]

     age eye color
0  33.00     brown
1   0.75      blue

In [111]:
personal_df

  students    age eye color
0      Ali  33.00     brown
1     Amir   0.75      blue
2   Rozann  27.00     green
3   Sawash   3.00     brown

In [115]:
personal_df.iloc[1:3, :2]

  students    age
1     Amir   0.75
2   Rozann  27.00

In [94]:
another_df

      students    age eye_color
pappa      Ali  33.00     brown
son       Amir   0.75      blue
mamma   Rozann  27.00     green
hund    Sawash   3.00     brown

In [48]:
another_df.iloc[0]

students       Ali
age           33.0
eye_color    brown
Name: pappa, dtype: object

In [50]:
another_df.iloc[0:2]

      students    age eye_color
pappa      Ali  33.00     brown
son       Amir   0.75      blue

**loc**

In [117]:
another_df

      students    age eye_color
pappa      Ali  33.00     brown
son       Amir   0.75      blue
mamma   Rozann  27.00     green
hund    Sawash   3.00     brown

In [127]:
another_df.loc['son', ['age', 'eye_color']]

age          0.75
eye_color    blue
Name: son, dtype: object

In [153]:
another_df.loc[['son','hund'], ['age', 'eye_color']]

       age eye_color
son   0.75      blue
hund  3.00     brown

In [121]:
personal_df

  students    age eye color
0      Ali  33.00     brown
1     Amir   0.75      blue
2   Rozann  27.00     green
3   Sawash   3.00     brown

In [149]:
personal_df.loc[1, 'age']

0.75

In [146]:
another_df.loc['pappa':'mamma', 'age':'eye_color']

         age eye_color
pappa  33.00     brown
son     0.75      blue
mamma  27.00     green

## MASKING

In [162]:
personal_df

  students    age eye color
0      Ali  33.00     brown
1     Amir   0.75      blue
2   Rozann  27.00     green
3   Sawash   3.00     brown

In [164]:
personal_df[ [False, True, False, True] ]

  students   age eye color
1     Amir  0.75      blue
3   Sawash  3.00     brown

In [169]:
personal_df[ [False, True, True, True] ]

  students    age eye color
1     Amir   0.75      blue
2   Rozann  27.00     green
3   Sawash   3.00     brown

In [170]:
personal_df

  students    age eye color
0      Ali  33.00     brown
1     Amir   0.75      blue
2   Rozann  27.00     green
3   Sawash   3.00     brown

In [174]:
personal_df['age'] > 10

0     True
1    False
2     True
3    False
Name: age, dtype: bool

In [176]:
personal_df[personal_df['age'] > 10]

  students   age eye color
0      Ali  33.0     brown
2   Rozann  27.0     green

In [179]:
age_filter = personal_df['age'] > 10

personal_df[age_filter]

  students   age eye color
0      Ali  33.0     brown
2   Rozann  27.0     green

In [181]:
mature_df = personal_df[age_filter]

mature_df

  students   age eye color
0      Ali  33.0     brown
2   Rozann  27.0     green

In [183]:
personal_df[ personal_df['eye color'] == 'brown' ]

  students   age eye color
0      Ali  33.0     brown
3   Sawash   3.0     brown

In [190]:
personal_df['students']

0       Ali
1      Amir
2    Rozann
3    Sawash
Name: students, dtype: object

In [193]:
name_length_filter = [True if len(name)>4 else False for name in personal_df['students']]

In [194]:
personal_df[name_length_filter]

  students   age eye color
2   Rozann  27.0     green
3   Sawash   3.0     brown

In [196]:
s_filter = [True if name[0] == 'S' else False for name in personal_df['students']]

In [197]:
personal_df[s_filter]

  students  age eye color
3   Sawash  3.0     brown

## Read excel

In [208]:
calories_df = pd.read_excel('../data/calories.xlsx')

calories_df

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ
...,...,...,...,...,...
2220,Spreads,Sunflower Butter,100g,617 cal,2591 kJ
2221,Spreads,Tapenade,100g,233 cal,979 kJ
2222,Spreads,Unsalted Butter,100g,717 cal,3011 kJ
2223,Spreads,Vegemite,100g,180 cal,756 kJ
2224,Spreads,Wild Honey,100g,286 cal,1201 kJ

In [218]:
# see which the unique values are

calories_df['FoodCategory'].unique()

array(['CannedFruit', 'Fruits', 'Tropical&ExoticFruits', 'PotatoProducts',
       'Vegetables', 'FastFood', 'Pizza', 'Cheese', 'CreamCheese',
       'Milk&DairyProducts', 'SlicedCheese', 'Yogurt', 'Beef&Veal',
       'ColdCuts&LunchMeat', 'Meat', 'Offal&Giblets', 'Pork',
       'Poultry&Fowl', 'Sausage', 'Venison&Game', 'Cakes&Pies',
       'Candy&Sweets', 'IceCream', '(Fruit)Juices',
       'AlcoholicDrinks&Beverages', 'Beer',
       'Non-AlcoholicDrinks&Beverages', 'Soda&SoftDrinks', 'Wine',
       'CerealProducts', 'Oatmeal,Muesli&Cereals', 'Pasta&Noodles',
       'Dishes&Meals', 'Soups', 'Legumes', 'Nuts&Seeds', 'Oils&Fats',
       'VegetableOils', 'BakingIngredients', 'Fish&Seafood',
       'Herbs&Spices', 'Pastries,Breads&Rolls', 'Sauces&Dressings',
       'Spreads'], dtype=object)

In [214]:
# see how many unique values this column contains

calories_df['FoodCategory'].nunique()

44

In [220]:
calories_df['FoodCategory'].value_counts()

FoodCategory
BakingIngredients                95
Cakes&Pies                       91
Herbs&Spices                     90
Beer                             85
Candy&Sweets                     81
Pastries,Breads&Rolls            78
Dishes&Meals                     78
Oatmeal,Muesli&Cereals           76
FastFood                         72
Vegetables                       63
Legumes                          62
Fish&Seafood                     60
Fruits                           54
Sauces&Dressings                 54
Cheese                           53
Soups                            52
Non-AlcoholicDrinks&Beverages    51
AlcoholicDrinks&Beverages        48
Sausage                          47
(Fruit)Juices                    46
Meat                             46
IceCream                         45
Soda&SoftDrinks                  45
CerealProducts                   44
Pizza                            43
Pasta&Noodles                    40
Yogurt                           40
Nuts&Seeds                       39
Spreads                          39
Wine                             39
Pork                             39
Beef&Veal                        39
PotatoProducts                   39
Tropical&ExoticFruits            39
Venison&Game                     36
ColdCuts&LunchMeat               35
SlicedCheese                     34
Poultry&Fowl                     33
Offal&Giblets                    33
VegetableOils                    33
Milk&DairyProducts               33
Oils&Fats                        30
CannedFruit                      29
CreamCheese                      17
Name: count, dtype: int64

In [223]:
calories_df.iloc[224]

FoodCategory                        FastFood
FoodItem            Arby’s Grand Turkey Club
per100grams                             100g
Cals_per100grams                     210 cal
KJ_per100grams                        882 kJ
Name: 224, dtype: object

In [221]:
calories_df[calories_df['FoodCategory']=='FastFood']

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
224,FastFood,Arby’s Grand Turkey Club,100g,210 cal,882 kJ
225,FastFood,Arby’s Reuben,100g,208 cal,874 kJ
226,FastFood,Arby’s Roast Beef Classic,100g,234 cal,983 kJ
227,FastFood,Arby’s Roast Beef Max,100g,234 cal,983 kJ
228,FastFood,BBQ Rib,100g,212 cal,890 kJ
...,...,...,...,...,...
291,FastFood,Wendy’s Son of Baconator,100g,321 cal,1348 kJ
292,FastFood,Whopper,100g,231 cal,970 kJ
293,FastFood,Zinger,100g,256 cal,1075 kJ
294,FastFood,Zinger Burger,100g,256 cal,1075 kJ
295,FastFood,Poutine,100g,227 cal,953 kJ

# rename columns

In [240]:
calories_df

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ
...,...,...,...,...,...
2220,Spreads,Sunflower Butter,100g,617 cal,2591 kJ
2221,Spreads,Tapenade,100g,233 cal,979 kJ
2222,Spreads,Unsalted Butter,100g,717 cal,3011 kJ
2223,Spreads,Vegemite,100g,180 cal,756 kJ
2224,Spreads,Wild Honey,100g,286 cal,1201 kJ

In [245]:
calories_df = calories_df.rename( columns={'FoodItem':'Food'} )

In [256]:
string = '34'

int(string)

34

In [264]:
calories_df['Cals_per100grams'].str[:-3].astype(int)

0        62
1        48
2        92
3        88
4        54
       ...
2220    617
2221    233
2222    717
2223    180
2224    286
Name: Cals_per100grams, Length: 2225, dtype: int32

In [267]:
calories_df['cals/100g in integers'] = calories_df['Cals_per100grams'].str[:-3].astype(int)

In [273]:
calories_df.sort_values(by='cals/100g in integers', ascending=False)

,FoodCategory,Food,per100grams,Cals_per100grams,KJ_per100grams,cals/100g in integers
1621,Soups,Goulash,100g,1009 cal,4238 kJ,1009
1751,Oils&Fats,Cod Liver Oil,100ml,1000 cal,4200 kJ,1000
1808,VegetableOils,Wheat Germ Oil,100ml,929 cal,3902 kJ,929
1800,VegetableOils,Salmon Oil,100ml,911 cal,3826 kJ,911
1789,VegetableOils,Menhaden Oil,100ml,911 cal,3826 kJ,911
...,...,...,...,...,...,...
1265,Non-AlcoholicDrinks&Beverages,Tap Water,100ml,0 cal,0 kJ,0
1286,Soda&SoftDrinks,Fanta Zero,100ml,0 cal,0 kJ,0
2010,Herbs&Spices,Iodized Salt,100g,0 cal,0 kJ,0
1236,Non-AlcoholicDrinks&Beverages,Evian,100ml,0 cal,0 kJ,0
1277,Soda&SoftDrinks,Coke Zero,100ml,0 cal,0 kJ,0

In [279]:
calories_df.head(20)

,FoodCategory,Food,per100grams,Cals_per100grams,KJ_per100grams,cals/100g in integers
0,CannedFruit,Applesauce,100g,62 cal,260 kJ,62
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ,48
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ,92
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ,88
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ,54
5,CannedFruit,Canned Cranberries,100g,178 cal,748 kJ,178
6,CannedFruit,Canned Crushed Pineapple,100g,53 cal,223 kJ,53
7,CannedFruit,Canned Figs,100g,107 cal,449 kJ,107
8,CannedFruit,Canned Fruit Cocktail,100g,81 cal,340 kJ,81
9,CannedFruit,Canned Fruit Salad,100g,50 cal,210 kJ,50
10,CannedFruit,Canned Gooseberries,100g,73 cal,307 kJ,73
11,CannedFruit,Canned Grapefruit,100g,37 cal,155 kJ,37
12,CannedFruit,Canned Grapes,100g,76 cal,319 kJ,76
13,CannedFruit,Canned Mandarin Oranges,100g,71 cal,298 kJ,71
14,CannedFruit,Canned Mango,100g,65 cal,273 kJ,65
15,CannedFruit,Canned Mangosteen,100g,73 cal,307 kJ,73
16,CannedFruit,Canned Mixed Fruit,100g,71 cal,298 kJ,71
17,CannedFruit,Canned Morello Cherries,100g,81 cal,340 kJ,81
18,CannedFruit,Canned Oranges,100g,62 cal,260 kJ,62
19,CannedFruit,Canned Peaches,100g,54 cal,227 kJ,54

In [277]:
calories_df.tail(20)

,FoodCategory,Food,per100grams,Cals_per100grams,KJ_per100grams,cals/100g in integers
2205,Spreads,Marmite,100g,225 cal,945 kJ,225
2206,Spreads,Marshmallow Fluff,100g,666 cal,2797 kJ,666
2207,Spreads,Nutella,100g,544 cal,2285 kJ,544
2208,Spreads,Olive Spread,100g,550 cal,2310 kJ,550
2209,Spreads,"Pâté (720), Pate",100g,319 cal,1340 kJ,319
2210,Spreads,Peanut Butter,100g,589 cal,2474 kJ,589
2211,Spreads,Peter Pan Peanut Butter,100g,609 cal,2558 kJ,609
2212,Spreads,Philadelphia Cream Cheese,100g,342 cal,1436 kJ,342
2213,Spreads,Plum Jam,100g,250 cal,1050 kJ,250
2214,Spreads,Salted Butter,100g,717 cal,3011 kJ,717
2215,Spreads,Skippy Peanut Butter,100g,594 cal,2495 kJ,594
2216,Spreads,Smuckers Strawberry Jam,100g,250 cal,1050 kJ,250
2217,Spreads,Strawberry Jam,100g,250 cal,1050 kJ,250
2218,Spreads,Strawberry Jelly,100g,250 cal,1050 kJ,250
2219,Spreads,Sunbutter,100g,617 cal,2591 kJ,617
2220,Spreads,Sunflower Butter,100g,617 cal,2591 kJ,617
2221,Spreads,Tapenade,100g,233 cal,979 kJ,233
2222,Spreads,Unsalted Butter,100g,717 cal,3011 kJ,717
2223,Spreads,Vegemite,100g,180 cal,756 kJ,180
2224,Spreads,Wild Honey,100g,286 cal,1201 kJ,286