In [ ]:
import numpy as np
import pandas as pd

import random

In [ ]:
[random.randint(0,50) for j in range(10)]

In [ ]:
data_dict = {f'column {i}': [random.randint(0,50) for j in range(10)] for i in range(10)}

data_df = pd.DataFrame(data_dict)

data_df

How to change specific values of a dataframe

iloc

In [ ]:
data_df.iloc[2, 3] = -100

loc

In [ ]:
data_df

In [ ]:
data_df.loc[2, 'column 6'] = None

In [ ]:
data_df

In [ ]:
data_df.info()

In [ ]:
[type(element) for element in data_df['column 6']]

- None - Pythonic missing data. A Python object - operations done on Python level and not numpy or pandas.
    - Error when performing arithmetic on None dtypes
- NaN - floating point "Not a Number". Supports fast operations, however all arithmetic operations with NaN results in a NaN
- NA - pd.NA -> missing indicator that can be used consistently across data types

**Insert Nones into our DataFrame**

In [ ]:
for i in range(10):

    row = random.randint(0,9)
    column = random.randint(0,9)

    print(f'overwritting [{row}, {column}]')

    data_df.loc[row, f'column {column}'] = None

In [ ]:
data_df

Pandas treats NaN and None almost interchangeably
- isnull() - returns true if value is null  
- notnull() - returns true if value is not null
- dropna() - drops the the whole axis with nulls 
- fillna() - fills the null values with certain value

In [ ]:
data_df.isnull()

In [ ]:
data_df.notnull()

In [ ]:
# drop all rows with atleast 1 missing value
data_df.dropna(axis=0)

In [ ]:
data_df

In [ ]:
# drop all columns with atleast 1 missing value
data_df.dropna(axis='columns')

Vi kan fylla alla missing values med ett angivet värde

In [ ]:
data_df.fillna(-999)

isnull() och notnull() funkar även för Series

In [ ]:
mitt_filter = data_df['column 8'].isnull()

mitt_filter

In [ ]:
data_df[mitt_filter] = 2000

In [ ]:
data_df.loc[mitt_filter] = 5000

In [ ]:
data_df.loc[mitt_filter, 'column 5'] = 9000

In [ ]:
data_df

## Titanic Dataset

In [ ]:
import seaborn as sns 
# Seaborn has some toy datasets for learning: https://github.com/mwaskom/seaborn-dataa

titanic_df = sns.load_dataset("titanic")

In [ ]:
titanic_df.info()

In [ ]:
titanic_df

In [ ]:
titanic_df['age'].isnull().sum()

In [ ]:
titanic_df.isnull().sum()

In [ ]:
# histogram visualisering

sns.histplot(data= titanic_df, x="age", bins=100, hue='sex')

In [ ]:
titanic_df.info()

In [ ]:
median_male_age = titanic_df[titanic_df["sex"] == "male"]["age"].median()
median_female_age = titanic_df[titanic_df["sex"] == "female"]["age"].median()

In [ ]:
median_male_age

In [ ]:
median_female_age

In [ ]:
titanic_df

In [ ]:
titanic_df.loc[titanic_df["sex"] == "male", "age"] = titanic_df.loc[titanic_df["sex"] == "male", "age"].fillna(median_male_age)

titanic_df.loc[titanic_df["sex"] == "female", "age"] = titanic_df.loc[titanic_df["sex"] == "female", "age"].fillna(median_female_age)

In [ ]:
titanic_df.info()

In [ ]:

sns.histplot(data= titanic_df, x="age", bins=100, hue='sex')

## Missing data - strategy
Note that there are several strategies to deal with missing data and we will come back to this in the future. 
The strategy you should choose may depend on:
- dataset size
    - small dataset - must be more careful with the data
    - large dataset and small amounts of nulls - can probably remove the rows
- can use different ways to impute missing data
- valuable information (depends on the usage of the data)
- percentage of missing values 
- domain knowledge - how to fill the nulls 
    - e.g. the score example above might be plausible to assume 0 score if the value is missing for certain round
    - e.g. missing some value in a category might be filled with mean or median of that category
    - e.g. missing value between two points could be interpolated
- note that missing values can negatively impact:
    - data visualization
    - arithmetic computations
    - machine learning algorithms

## GroupBy

In [ ]:
titanic_df['age'].median()

In [ ]:
titanic_df.groupby('sex')['age'].median()

In [ ]:
titanic_df.groupby('sex')['age'].min()

In [ ]:
titanic_df.groupby('sex')['age'].max()

In [ ]:
titanic_df.groupby('sex')[['age', 'fare']].mean()

In [ ]:
titanic.groupby(["survived", "pclass", "sex"])['age'].mean()

In [ ]:
titanic_df['survived'].value_counts()

In [ ]:
titanic_df.groupby("sex")[['age','fare']].median()

In [ ]:
titanic.groupby(["survived", "pclass"]).count()