In [2]:
import pandas as pd

In [3]:
data = {
    'Name': ['John', 'Alice', 'Bob', 'John', 'Eve', 'Alice', 'Chris', 'David', 'Eve', 'Bob'],
    'Age': [28, 25, 22, 28, 30, 25, 35, 32, 30, 22],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'San Francisco', 'Los Angeles', 'Chicago', 'New York', 'San Francisco', 'Los Angeles'],
    'Department': ['HR', 'Engineering', 'Finance', 'HR', 'Engineering', 'Engineering', 'Finance', 'HR', 'Engineering', 'Finance'],
    'Salary': [60000, 75000, 55000, 60000, 85000, 75000, 58000, 61000, 85000, 55000]
}

df = pd.DataFrame(data)