In [1]:
from datetime import datetime

Datetime documentation: https://docs.python.org/3/library/datetime.html

**strptime** (String Parse Time. From *string* --> *datetime*):

        strptime is used to parse a string representation of a date and time and convert it into a datetime object.

For parsing dates and times (used with strptime):

**%Y**: Year with century as a number (e.g., '2023').

**%y**: Year without century as a zero-padded number (e.g., '23' for '2023').

**%m**: Month as a either a zero-padded number or straight-up number (e.g., '03' or '3' for March and 12 for December).

**%d**: Day of the month as a zero-padded number or straight-up number (e.g., '09', '9' or '18').

**%H**: Hour (24-hour clock) as a zero-padded number or straight up number(e.g., '12' for noon, and '03' or '3' for 3 o'clock).
    
**%I**: Hour (12-hour clock) as a zero-padded number or straight up number (e.g., '12' for noon, and '03' or '3' for 3 o'clock).
    
**%M**: Minute as a zero-padded number or straight up number (e.g., '03' or '3', and '22').
    
**%S**: Second as a zero-padded number or straight up number (e.g., '00' or '0').
    
**%p**: AM or PM (used with 12-hour clock) (e.g., 'AM' or 'PM').

In [46]:
date_string = '2023-05-03 23:58:04'
date_string2 = '1989-12-11 17:20:00'

input_format = '%Y-%m-%d %H:%M:%S'

In [47]:
datetime_object = datetime.strptime(date_string, input_format)
datetime_object2 = datetime.strptime(date_string2, input_format)

In [49]:
datetime_object

datetime.datetime(2023, 5, 3, 23, 58, 4)

In [50]:
datetime_object2

datetime.datetime(1989, 12, 11, 17, 20)

In [231]:
date_string3 = '2023-05-03 11:58:04 AM'

input_format_freedom = '%Y-%m-%d %I:%M:%S %p'

datetime_object_freedom = datetime.strptime(date_string3, input_format_freedom)

print(datetime_object_freedom)

2023-05-03 11:58:04

In [54]:
date_distance = datetime_object - datetime_object2

date_distance.seconds

23884

In [153]:
now = datetime.now()

print(now)

2023-11-09 13:29:10.922071

In [157]:
distance

datetime.timedelta(days=189, seconds=48753, microseconds=296167)

In [206]:
now = datetime.now()

distance = now - datetime_object2

print(f'Your favourite teachers birthday was {distance} ago')

Your favourite teachers birthday was 12385 days, 20:11:17.788703 ago

In [207]:
my_dates = ['2021-11-13 12:00:00', '2023-08-02 23:58:04', '2023-08-03 23:58:04', '2023-04-03 21:22:04']

In [208]:
import pandas as pd

In [209]:
my_dates_series = pd.Series(my_dates)

In [211]:
def string_to_datetime(date_string):

    input_format = '%Y-%m-%d %H:%M:%S'
    datetime_object = datetime.strptime(date_string, input_format)

    return datetime_object

In [210]:
my_dates_series

0    2021-11-13 12:00:00
1    2023-08-02 23:58:04
2    2023-08-03 23:58:04
3    2023-04-03 21:22:04
dtype: object

In [213]:
my_dates_series = my_dates_series.apply(string_to_datetime)

In [216]:
my_dates_series

0   2021-11-13 12:00:00
1   2023-08-02 23:58:04
2   2023-08-03 23:58:04
3   2023-04-03 21:22:04
dtype: datetime64[ns]

In [217]:
my_dates_series.sort_values()

0   2021-11-13 12:00:00
3   2023-04-03 21:22:04
1   2023-08-02 23:58:04
2   2023-08-03 23:58:04
dtype: datetime64[ns]

In [219]:
my_dates_df = pd.DataFrame(my_dates_series).rename(columns={0:'Datetime'})

my_dates_df

             Datetime
0 2021-11-13 12:00:00
1 2023-08-02 23:58:04
2 2023-08-03 23:58:04
3 2023-04-03 21:22:04

In [221]:
my_dates_df['Hour'] = [date.hour for date in my_dates_df['Datetime']]

In [222]:
my_dates_df

             Datetime  Hour
0 2021-11-13 12:00:00    12
1 2023-08-02 23:58:04    23
2 2023-08-03 23:58:04    23
3 2023-04-03 21:22:04    21

Ni kan använda weekday() för att få ut veckodag. OBS: veckodagar anges i heltan 0-6 där 0 motsvarar måndag och 6 söndag

In [225]:
datetime_object.weekday()

2

There are two main functions to handle dates in Python

**strptime** (String Parse Time. From *string* --> *datetime*):

        strptime is used to parse a string representation of a date and time and convert it into a datetime object.

**strftime** (String Format Time. From *datetime* --> *string*):

        strftime is used to format a datetime object into a string representation according to a specified format.